.about {
  margin: 0 auto;
  width: 60vw;
  margin-top: 5rem;

  display: flex;
  align-items: center;

  &__image {
    flex: 1;
    margin-right: 3rem;
  }

  &__text {
    flex: 3;

    h1 {
      margin-top: 0;
    }
  }
}