.category-title {
  position: absolute;
  left: @padding-menu-button;
  top: @padding-menu-button;
  margin: 0;
}

.category-elems {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-elem {
  width: 100%;
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}