.home {
  position: relative;
  min-height: 100vh;
}

.title__wrapper {
  position: absolute;
  height: @space-top;
  top: 0;
  left: @space-left-right;
  margin-top: -3px;
  width: 170px;
  display: flex;
  align-items: center;
}

.title {
  width: 170px;
}
