html, body {
  margin: 0;
}

html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background-color: @color--white;
  .transition(background-color);

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: @color--gray;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transform: translate3d(0,0,0);

    transition: visibility .5s linear 0s, opacity .5s;
    transition-timing-function: cubic-bezier(.84,0,.22,1);
  }

  &--dark {
    background-color: black;
  }
}

.wrapper--menu-open:after {
  visibility: visible;
  opacity: .5;

  transition: visibility .5s linear 0s, opacity .5s;
  transition-timing-function: cubic-bezier(.84,0,.22,1);
}

.title__wrapper {
  position: absolute;
  height: @space-top;
  top: 0;
  left: @space-left-right;
  margin-top: -3px;
  width: 170px;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  display: block;
  font-weight: normal;
  font-family: @font-family-headers;
}