.lightbulb {
  &__wrapper {
    position: fixed;

    right: @space-left-right;
    height: @space-top;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    margin: 0;
    padding: 0;
    border: 0;
    background: initial;
    outline: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;

    &:hover {
      .moon {
        fill: #daa520;
        stroke: #daa520;
      }

      .sun {
        fill: #ffd700;
        stroke: #ffd700;
      }

      .sun__center {
        stroke: #ffd700;
      }
    }

    .sun,
    .sun__center,
    .moon {
      fill: transparent;
      stroke-width: 10px;
      transition: opacity 0.5s, fill 0.25s, stroke 0.25s;
      transition-timing-function: cubic-bezier(0.84, 0, 0.22, 1);
    }

    .sun {
      stroke: @color--white;
      opacity: 0;

      &__center {
        opacity: 0;
        stroke-width: 10;
        stroke: @color--white;
        fill: @color--black;
      }
    }

    .moon {
      stroke: @color--black;
      opacity: 0;
    }

    .visible {
      opacity: 1;
    }
  }
}
